*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}
.load{
    display:flex;
    justify-content: center;
    margin: 200px auto;
}
.load div{
width: 50px;
height: 50px;
background-color: #47b2e4;
border-radius: 50%;
margin: 0 5px;
animation-name: up-and-down;
animation-duration: .9s;
animation-iteration-count: 7;
/* background-repeat: 3; */
animation-timing-function: ease-in-out;
animation-direction: alternate;
animation-fill-mode: forwards;
color:rgb(7, 58, 14)
}
.load .two{
animation-delay: .3s;
}.load .three{
animation-delay: .6s;
}
/* @keyframes up-and-down{ */
@keyframes up-and-down{
    /* 20%{
        opacity:.8;
        transform: translateY(-40px);
    }
    40%{
        opacity:.6;
        transform: translateY(-80px);
    }
    60%{
        opacity:.4;
        transform: translateY(-40px);
    }
    80%{
        opacity:.3;
        transform: translateY(0px);
    } */
    99%{
        opacity:.2;
        transform: translateY(-40px);
    }
    
    
    100%{
        opacity:0;
        display: none;
    }
    
}
.one{
    position: relative;
}
.one:before{
position: absolute;
content: "S";
transform: translate(-50%,-50%);
left:50%;
top:50%;
font-size: 25px;
}
.two:before{
position: absolute;
content: "A";
transform: translate(-50%,-50%);
left:50%;
top:50%;
font-size: 25px;
}
.three:before{
position: absolute;
content: "S";
transform: translate(-50%,-50%);
left:50%;
top:50%;
font-size: 25px;
}
.loader{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
    /* border: 1px solid #FFF; */
}
.loader span{
    position:relative;
    width: 10px;
    height: 10px;
    background-color: #47b2e4;
    display: inline-block;
    margin: 2px;
    animation:loading 4000ms ease-in-out infinite;
    border-radius: 50%;
    animation-delay: .9s;
}
@keyframes loading{
    0%,15%{
        top: -120px;
        opacity:0;
    }
    30%,70%{
        top: 0px;
        opacity:1;
    }
    85%,100%{
        top: 120px;
        opacity:0;
    }
    
}
.loader span:nth-child(16){animation-delay: 80ms;}
.loader span:nth-child(15){animation-delay: 160ms;}
.loader span:nth-child(14){animation-delay: 240ms;}
.loader span:nth-child(13){animation-delay: 320ms;}
.loader span:nth-child(12){animation-delay: 400ms;}
.loader span:nth-child(11){animation-delay: 480ms;}
.loader span:nth-child(10){animation-delay: 560ms;}
.loader span:nth-child(9){animation-delay: 640ms;}
.loader span:nth-child(8){animation-delay: 720ms;}
.loader span:nth-child(7){animation-delay: 800ms;}
.loader span:nth-child(6){animation-delay: 880ms;}
.loader span:nth-child(5){animation-delay: 960ms;}
.loader span:nth-child(4){animation-delay: 1040ms;}
.loader span:nth-child(3){animation-delay: 1120ms;}
.loader span:nth-child(2){animation-delay: 1200ms;}
.loader span:nth-child(1){animation-delay: 1280ms;}